body {
  margin: 15px;
  max-height: 100vh;
  max-width: 100vw;
  background: url('../images/whosThatPokemon.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Alfa Slab One', cursive;
}

h1 {
  font-size: 24px;
}

h1,
h2,
h4,
.center {
  padding: 5px;
  color: #3e60a3;
  text-align: center;
  text-shadow: 3px 3px 6px #fcce00;
}

#inputDiv {
  /* visibility: hidden; */
}

.pokemonImg {
  filter: brightness(0.2);
  -webkit-filter: brightness(0.2);
}

.pokemonShow {
  filter: brightness(0.7);
  -webkit-filter: brightness(0.7);
}
